
  <ul [ngStyle]="{ 'padding-left': (depth > 1 ? depth * 8 + 24 : 0) + 'px'}">
  <ng-container *ngFor="let menuItem of menus">
    <li class="menu-list" (click)="changeTab(menuItem)" [ngStyle]="{ 'margin-left': menuItem.hasSubMenu ? '-24px' : '0'}">
    <div class="list-container">
      <span *ngIf="menuItem.hasSubMenu" class="list-arrow rotate-arrow" [class.open]="menuItem.expand"
      (click)="expand($event, menuItem)">
      <svg width="24" height="24" viewBox="0 2 24 24" stroke="currentColor">
        <g transform="translate(9.7,12) rotate(45)">
          <path d="M-4.2 0 L4.2 0" stroke-width="2">
          </path>
        </g>
        <g transform="translate(14.3,12) rotate(-45)">
          <path d="M-4.2 0 L4.2 0" stroke-width="2">
          </path>
        </g>
      </svg>
    </span>
    <span class="title">
      {{ menuItem.title }}
    </span>
    </div>
    <ng-container *ngIf="menuItem.hasSubMenu && menuItem.subMenus && menuItem.expand">
        <app-menu-list class="submenu" [menus]="menuItem.subMenus" [depth]="depth + 1"></app-menu-list>
    </ng-container>
  </li>
  </ng-container>
</ul>


