
ul {
  list-style-position: outside;
  padding-inline-start: 0px;
  list-style: none;
  margin: 0;
}

li {
  position: relative;
  padding: 10px 0;
}

app-menu-list {
  display: flex;
  position: relative;
}

.has-submenu {
  position: relative;
  top: 50%;
}

.svg-container {
  position: relative !important;
    width: 24px !important;
    height: 24px !important;
}

.menu-list {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  min-height: 24px;
}

.rotate-arrow {
  transition: transform 0.2s ease-in-out;
}

.rotate-arrow.open {
  transform: rotate(180deg) translateY(25%);
}

.title {
  height: auto;
}

.list-container {
  display: flex;
  flex-wrap: nowrap;
}

